{% extends 'fragments/navBar.html.twig' %}
{% block title %}Profile{% endblock %}

{% block body %}
<div class="heading">
      <h3>my profile</h3>
      <p><a href="{{ path('home') }}">home </a> <span> / profile</span></p>
   </div>

{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success " id="alertprofilesuccess"  style="display: flex">
        {{ message }}
    </div>
{% endfor %}
    {% for message in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger" id="alertprofiledanger" style="display:flex">
            {{ message }}
        </div>
    {% endfor %}

   <section class="user-details">

      <div class="user">
         {% if person.getPathImage is not empty %}
            <img class="profile-pic" src="{{asset('upload/Utilisateur/'~ person.getPathImage())}}">
         {% else %}
            <img class="profile-pic" src="{{asset('client/images/user-icon.png')}}" alt="">
         {% endif %}

         {{ form_start(form) }}
         {{ form_row(form.nom) }}
         {{ form_row(form.prenom) }}
         {{ form_row(form.email) }}
         {{ form_row(form.old_password) }}
          {{  form_row(form.new_password) }}
         {{ form_row(form.num_tel) }}
         {{ form_row(form.image) }}
         <div class="btnform-container">
            {{ form_row(form.send) }}
         </div>
         {{ form_end(form) }}
      </div>

       {% include 'fragments/loader.html.twig' %}

   </section>
   <script src="{{asset('client/js/script.js')}}"></script>
<script>
    var childElement = document.getElementById("parent_send");
    var parentElement = childElement.parentNode;
    parentElement.style.height = "100%";
    parentElement.style.width = "100%";
</script>
</body>

</html>

<script>
    // Select the flash message divs
    const successAlert = document.getElementById('alertprofilesuccess');
    const dangerAlert = document.getElementById('alertprofiledanger');

    // Remove the success flash message after 3 seconds
    if (successAlert) {
        setTimeout(() => {
            successAlert.style.opacity = '0';
        }, 3000);
    }

    // Remove the danger flash message after 3 seconds
    if (dangerAlert) {
        setTimeout(() => {
            dangerAlert.style.opacity = '0';
        }, 3000);
    }
</script>
{% endblock %}
