{% include 'fragments/navBar.html.twig' %}
<div class="heading">
      <h3>my profile</h3>
      <p><a href="{{ path('home') }}">home </a> <span> / profile</span></p>
   </div>

   <section class="user-details">

      <div class="user">
         {% if person.getPathImage is not empty %}
            <img src="{{asset('upload/Utilisateur/'~ person.getPathImage())}}">
         {% else %}
            <img src="{{asset('client/images/user-icon.png')}}" alt="">
         {% endif %}

         {{ form_start(form) }}
         {{ form_row(form.nom) }}
         {{ form_row(form.prenom) }}
         {{ form_row(form.email) }}
         {{ form_row(form.pass) }}
         {{ form_row(form.num_tel) }}
         {{ form_row(form.image) }}
         <div class="btnform-container">
            {{ form_row(form.send) }}
         </div>
         {{ form_end(form) }}
      </div>

   </section>
   <script src="{{asset('client/js/script.js')}}"></script>
</body>

</html>
