
 {{ form_start(form5, {'action': path('menu'), 'method': 'POST', 'attr': {'class': 'box'}}) }}
    {{ form_widget(form5.submit) }}
 <img src="{{ asset('client/images/chawarma.avif')  }}" alt="" />
 <a href="{{ path('dishes') }}" class="cat">dishes</a>
 <div class="name">Chawarma</div>
 {{ form_row(form5.id, {'value': 6}) }}

 <div class="flex">
     <div class="price"><span>$</span>6</div>
     {{ form_row(form5.quantity) }}
 </div>

 <div class="sub-total">unit price : $ <span id="piz">6</span></div>
 {{ form_end(form5) }}

