 {{ form_start(form3, {'action': path('menu'), 'method': 'POST', 'attr': {'class': 'box'}}) }}
    {{ form_widget(form3.submit) }}
 <img src="{{ asset('client/images/cheesecake.jpg')  }}" alt="" />
 <a href="{{ path('dessert') }}" class="cat">dessert</a>
 <div class="name">Cheese Cake</div>
 {{ form_row(form3.id, {'value': 4}) }}

 <div class="flex">
     <div class="price"><span>$</span>5</div>
     {{ form_row(form3.quantity) }}
 </div>

 <div class="sub-total">unit price : $ <span id="piz">5</span></div>
 {{ form_end(form3) }}


