
 {{ form_start(form6, {'action': path('menu'), 'method': 'POST', 'attr': {'class': 'box'}}) }}
    {{ form_widget(form6.submit) }}
 <img src="{{ asset('client/images/fries.jpg')  }}" alt="" />
 <a href="{{ path('fast_food') }}" class="cat">fast food</a>
 <div class="name">Fries</div>
 {{ form_row(form6.id, {'value': 7}) }}

 <div class="flex">
     <div class="price"><span>$</span>2</div>
     {{ form_row(form6.quantity) }}
 </div>

 <div class="sub-total">unit price : $ <span id="piz">2</span></div>
 {{ form_end(form6) }}
