
 {{ form_start(form2, {'action': path('menu'), 'method': 'POST', 'attr': {'class': 'box'}}) }}
    {{ form_widget(form2.submit) }}
 <img src="{{ asset('client/uploaded_img/burger-1.png')  }}" alt="" />
 <a href="{{ path('fast_food') }}" class="cat">fast food</a>
 <div class="name">Hamburger</div>
 {{ form_row(form2.id, {'value': 3}) }}

 <div class="flex">
     <div class="price"><span>$</span>11</div>
     {{ form_row(form2.quantity) }}
 </div>

 <div class="sub-total">unit price : $ <span id="piz">11</span></div>
 {{ form_end(form2) }}


