
 {{ form_start(form4, {'action': path('menu'), 'method': 'POST', 'attr': {'class': 'box'}}) }}
    {{ form_widget(form4.submit) }}
 <img src="{{ asset('client/uploaded_img/drink-1.png')  }}" alt="" />
 <a href="{{ path('drinks') }}" class="cat">drinks</a>
 <div class="name">Orange Juice</div>
 {{ form_row(form4.id, {'value': 5}) }}

 <div class="flex">
     <div class="price"><span>$</span>3</div>
     {{ form_row(form4.quantity) }}
 </div>

 <div class="sub-total">unit price : $ <span id="piz">3</span></div>
 {{ form_end(form4) }}


