
{{ form_start(form, {'action': path('menu'), 'method': 'POST', 'attr': {'class': 'box'}}) }}
    {{ form_widget(form.submit) }}
<img src="{{ asset('client/uploaded_img/pizza-1.png') }}" alt="" />
<a href="{{ path('fast_food') }}" class="cat">fast food</a>
<div class="name">pizza</div>
{{ form_row(form.id, {'value': 12}) }}

<div class="flex">
    <div class="price"><span>$</span>3</div>
    {{ form_row(form.quantity) }}
</div>

<div class="sub-total">unit price : $ <span id="piz">3</span></div>
{{ form_end(form) }}

