

 {{ form_start(form1, {'action': path('menu'), 'method': 'POST', 'attr': {'class': 'box'}}) }}
    {{ form_widget(form1.submit) }}
 <img src="{{ asset('client/images/spaghetti.jpg')  }}" alt="" />
 <a href="{{ path('fast_food') }}" class="cat">fast food</a>
 <div class="name">pasta</div>
 {{ form_row(form1.id, {'value': 15}) }}

 <div class="flex">
     <div class="price"><span>$</span>4.5</div>
     {{ form_row(form1.quantity) }}
 </div>

 <div class="sub-total">unit price : $ <span id="piz">4.5</span></div>
 {{ form_end(form1) }}

