

{% extends 'fragments/navBar.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}

<section class="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
                <div class="content">
                    <h3>Pizza</h3>
                    <a href="{{ path('menu') }}" class="btn">see menus</a>
                </div>
                <div class="image">
                    <img src="{{ asset('client/images/home-img-1.png') }}" alt="" />
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <h3>Hamburger</h3>
                    <a href="{{ path('menu') }}" class="btn">see menus</a>
                </div>
                <div class="image">
                    <img src="{{ asset('client/images/home-img-2.png')}}" alt="" />
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <h3>Fried chicken</h3>
                    <a href="{{ path('menu') }}" class="btn">see menus</a>
                </div>
                <div class="image">
                    <img src="{{ asset('client/images/fried.png')}}" alt="" />
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="category">
    <h1 class="title">Food Category</h1>

    <div class="box-container">
        <a href="{{ path('fast_food') }}" class="box">
            <img src="{{ asset('client/images/cat-1.png') }}" alt="" />
            <h3>Fast Food</h3>
        </a>

        <a href="{{ path('dishes') }}" class="box">
            <img src="{{ asset('client/images/cat-2.png')}}" alt="" />
            <h3>Main Dishes</h3>
        </a>

        <a href="{{ path('drinks') }}" class="box">
            <img src="{{ asset('client/images/cat-3.png')}}" alt="" />
            <h3>Drinks</h3>
        </a>

        <a href="{{ path('dessert') }}" class="box">
            <img src="{{ asset('client/images/cat-4.png')}}" alt="" />
            <h3>Desserts</h3>
        </a>
    </div>
</section>

<section class="products">
    <h1 class="title">latest dishes</h1>

    <div class="box-container">

        {% include 'fragments/pizzaProduct.html.twig' %}
        {% include 'fragments/spaghettiProduct.html.twig' %}
        {% include 'fragments/hamburgerProduct.html.twig' %}
        {% include 'fragments/cheeseCakeProduct.html.twig' %}
        {% include 'fragments/orangeJuiceProduct.html.twig' %}
        {% include 'fragments/chawarmaProduct.html.twig' %}

        <div class="more-btn">
            <a href="{{ path('menu') }}" class="btn">view all</a>
        </div>
        </div>
</section>

<div class="loader">
    <img src="{{ asset('client/images/loader.gif') }}" alt="" />
</div>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script src="{{ asset('client/js/script.js') }}"></script>

<script>
    var swiper = new Swiper(".home-slider", {
        loop: true,
        grabCursor: true,
        effect: "flip",
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>


  <script>
      document.addEventListener('DOMContentLoaded', function() {
           quantity = document.querySelectorAll("#product_quantity");
          let price = 3;
          //const position=this.parentNode.parentNode.firstElementChild.firstElementChild.innerText;
          const subTotal = document.querySelector('#piz');
          quantity.forEach(function(item) {
                item.addEventListener('change', function() {
                    //console.log(this.value); //quantity
                    //console.log(this.parentNode.parentNode.firstElementChild.firstElementChild.innerText); // $
                    //console.log(this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling); //total price
                    //price = this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling;
                    let unitPrice = this.parentNode.parentNode.nextElementSibling.firstElementChild.innerText; //unit price
                    this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling.textContent = unitPrice * this.value;
                });
           });

      });
  </script>

</body>

</html>
{% endblock %}