{% extends 'fragments/navBar.html.twig' %}

{% block title %}search{% endblock %}

{% block body %}

    <div class="heading">
        <h3>Result</h3>
        <p><a href={{ path('home') }}>home </a> <span> / menu</span></p>
    </div>

    <section class="products">
        {{ form_start(forme,{'attr':{'id':'searchForm'}}) }}
        {{ form_widget(forme.search, {'attr': {'style': 'height: 40px; background: #ffffff; border: 2px solid #8f8f8d; border-radius: 10px; padding: 15px; width: 50%; margin: auto;'}}) }}
        <div class="btnform-container">
            {{ form_row(forme.submit,{'attr' : {'class': 'btn'}}) }}
        </div>
        {{ form_end(forme) }}
        <br>
        <br>

        <div class="box-container">

            {% if products|length != 0 %}
                {% for product in products %}
                    {% include 'fragments/' ~ product.productname ~ 'Product.html.twig'%}

                {% endfor %}

            {% else %}

                <h1 class="notfound">No products found</h1>

            {% endif %}


        </div>
    </section>

    <div class="loader">
        <img src={{ asset('client/images/loader.gif') }} alt="" />
    </div>

    </body>

    <script src={{ asset('client/js/script.js') }}></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            quantity = document.querySelectorAll("#product_quantity");
            let price = 3;
            //const position=this.parentNode.parentNode.firstElementChild.firstElementChild.innerText;
            const subTotal = document.querySelector('#piz');
            quantity.forEach(function(item) {
                item.addEventListener('change', function() {
                    //console.log(this.value); //quantity
                    //console.log(this.parentNode.parentNode.firstElementChild.firstElementChild.innerText); // $
                    //console.log(this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling); //total price
                    //price = this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling;
                    let unitPrice = this.parentNode.parentNode.nextElementSibling.firstElementChild.innerText; //unit price
                    this.parentNode.parentNode.firstElementChild.firstElementChild.nextSibling.textContent = unitPrice * this.value;
                });
            });

        });
    </script>

    </html>


{% endblock %}



