{% include 'fragments/navBar.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <div class="heading">
        <h3>Result</h3>
        <p><a href={{ path('home') }}>home </a> <span> / menu</span></p>
    </div>

    <section class="products">
        {{ form_start(forme) }}
        {{ form_row(forme.search) }}
        <div class="btnform-container">
            {{ form_row(forme.submit) }}
        </div>
        {{ form_end(forme) }}


        <div class="box-container">

            {% if products|length != 0 %}
                {% for product in products %}
                    {% include 'fragments/' ~ product.productname ~ 'Product.html.twig'%}

                {% endfor %}

            {% else %}

                <h1>No products found</h1>

            {% endif %}


        </div>
    </section>

    <div class="loader">
        <img src={{ asset('client/images/loader.gif') }} alt="" />
    </div>

    </body>

    <script src={{ asset('client/js/script.js') }}></script>
    </html>


{% endblock %}



