<!DOCTYPE html>
{% block body %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="{{ asset('client/css/style.css') }}" />
    <link rel="shortcut icon" type="x-icon" href="{{ asset('images/logo.png') }}" />
</head>

<body>
<header class="header">
    <section class="flex">
        <a href="{{ path('home') }}" class="logo"> <b>GL-icious </b> 😋</a>

        <nav class="navbar">
            <a href="{{ path('home') }}">home</a>
            <a href="{{ path('about') }}">about</a>
            <a href="{{ path('menu') }}">menu</a>
            <a href="{{ path('orders') }}">orders</a>
            <a href="{{ path('contact') }}">contact</a>

        </nav>

        <div class="icons">
            <a href="{{ path('search') }}"><i class="fas fa-search"></i></a>
            <a href="{{ path('cart') }}"><i class="fas fa-shopping-cart"></i><span>{{ cart_items|default(0) }}</span></a> {# Replace cart_items with your session variable #}
            <div id="user-btn" class="fas fa-user"></div>
            <div id="menu-btn" class="fas fa-bars"></div>
        </div>

        <div class="profile">
            <p class="name">Me</p> {# Replace me with your user variable from session when you finally know how to make the sseion #}
            <div class="flex">
                <a href="{{ path('profile') }}" class="btn">profile</a>
                <a href="{{ path('logout') }}" class="delete-btn">logout</a>
            </div>

        </div>
    </section>
</header>



{% endblock %}

<section class="home">
    <div class="swiper home-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
                <div class="content">
                    <h3>Pizza</h3>
                    <a href="{{ path('menu') }}" class="btn">see menus</a>
                </div>
                <div class="image">
                    <img src="{{ asset('client/images/home-img-1.png') }}" alt="" />
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <h3>Hamburger</h3>
                    <a href="menu.php" class="btn">see menus</a>
                </div>
                <div class="image">
                    <img src="{{ asset('client/images/home-img-2.png')}}" alt="" />
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="content">
                    <h3>Fried chicken</h3>
                    <a href="menu.php" class="btn">see menus</a>
                </div>
                <div class="image">
                    <img src="{{ asset('client/images/fried.png')}}" alt="" />
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>
</section>

<section class="category">
    <h1 class="title">Food Category</h1>

    <div class="box-container">
        <a href="{{ path('fast_food') }}" class="box">
            <img src="{{ asset('client/images/cat-1.png') }}" alt="" />
            <h3>Fast Food</h3>
        </a>

        <a href="dishes.php" class="box">
            <img src="{{ asset('client/images/cat-2.png')}}" alt="" />
            <h3>Main Dishes</h3>
        </a>

        <a href="drink.php " class="box">
            <img src="{{ asset('client/images/cat-3.png')}}" alt="" />
            <h3>Drinks</h3>
        </a>

        <a href="dessert.php" class="box">
            <img src="{{ asset('client/images/cat-4.png')}}" alt="" />
            <h3>Desserts</h3>
        </a>
    </div>
</section>

<section class="products">
    <h1 class="title">latest dishes</h1>

    <div class="box-container">
        <form action="{{ path('cart') }}" method="post" class="box">
            <button class="fas fa-shopping-cart" type="submit" name="add_to_cart"></button>
            <img src="{{ asset('client/uploaded_img/pizza-1.png') }}" alt="" />
            <a href="fast_food.php" class="cat">fast food</a>
            <div class="name"> Pizza </div>
            <div class="flex">
                <div class="price"><span>$</span>3</div>
                <input hidden name="id" value="1">
                <input hidden name="name" value="Pizza">
                <input hidden name="price" value="3" class="unit-price">
                <input hidden name="imglink" value="{{ asset('uploaded_img/pizza-1.png') }}">
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;" />
            </div>
            <div class="sub-total">total : $ <span>3</span></div>
        </form>

        <form action="cart.php" accept="" method="post" class="box">

            <button class="fas fa-shopping-cart" type="submit" name="add_to_cart"></button>
            <img src="{{asset('client/images/spaghetti.jpg')  }}" />
            <a href="dishes.php" class="cat">dishes</a>
            <div class="name">Spaghetti</div>
            <div class="flex">
                <div class="price"><span>$</span>4.5 </div>
                <input hidden name="id" value="2">
                <input hidden name="name" value="Spaghetti">
                <input hidden name="price" value="4.5" class="unit-price">
                <input hidden name="imglink" value="{{ asset('client/images/spaghetti.jpg') }}">

                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;" />

            </div>
            <div class="sub-total">total : $ <span>4.5</span></div>

        </form>

        <form action="cart.php" accept="" method="post" class="box">

            <button class="fas fa-shopping-cart" type="submit" name="add_to_cart"></button>
            <img src="{{ asset('client/uploaded_img/burger-1.png')}}" alt="" />
            <a href="fast_food.php" class="cat">fast food</a>
            <div class="name"> Hamburger </div>
            <div class="flex">
                <div class="price"><span>$</span>11 </div>
                <input hidden name="id" value="3">
                <input hidden name="name" value="Hamburger">
                <input hidden name="price" value="11" class="unit-price">
                <input hidden name="imglink" value="{{ asset('client/uploaded_img/burger-1.png')}}">
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;" />

            </div>
            <div class="sub-total">total : $ <span>11</span></div>
        </form>

        <form action="cart.php" accept="" method="post" class="box">

            <button class="fas fa-shopping-cart" type="submit" name="add_to_cart"></button>
            <img src="{{ asset('client/images/cheesecake.jpg')}}" alt="" />
            <a href="dessert.php" class="cat">dessert</a>
            <div class="name">Cheese Cake </div>
            <div class="flex">
                <div class="price"><span>$</span>5 </div>
                <input hidden name="id" value="4">
                <input hidden name="name" value="Cheese Cake">
                <input hidden name="price" value="5" class="unit-price">
                <input hidden name="imglink" value="{{ asset('client/images/cheesecake.jpg')}}">
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;" />

            </div>
            <div class="sub-total">total : $ <span>5</span></div>

        </form>

        <form action="cart.php" accept="" method="post" class="box">

            <button class="fas fa-shopping-cart" type="submit" name="add_to_cart"></button>
            <img src="{{ asset('client/uploaded_img/drink-1.png')}}" alt="" />
            <a href="drink.php" class="cat">drinks</a>
            <div class="name">Orange Juice</div>
            <div class="flex">
                <div class="price"><span>$</span>7 </div>
                <input hidden name="id" value="5">
                <input hidden name="name" value="Orange Juice">
                <input hidden name="price" value="7" class="unit-price">
                <input hidden name="imglink" value="{{ asset('client/uploaded_img/drink-1.png')}}">
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;" />

            </div>
            <div class="sub-total">total : $ <span>7</span></div>
        </form>

        <form action="cart.php" accept="" method="post" class="box">

            <button class="fas fa-shopping-cart" type="submit" name="add_to_cart"></button>
            <img src="{{ asset('client/images/chawarma.avif')}}" alt="" />
            <a href="dishes.php" class="cat">dishes</a>
            <div class="name">Chawarma</div>
            <div class="flex">
                <div class="price"><span>$</span>14 </div>
                <input hidden name="id" value="6">
                <input hidden name="name" value="Chawarma">
                <input hidden name="price" value="14" class="unit-price">
                <input hidden name="imglink" value="{{ asset('client/images/chawarma.avif')}}">
                <input type="number" name="qty" class="qty" min="1" max="99" value="1" onkeypress="if(this.value.length == 2) return false;" />

            </div>
            <div class="sub-total">total : $ <span>14</span></div>
        </form>
        <div class="more-btn">
            <a href="{{ path('menu') }}" class="btn">view all</a>
        </div>
        </div>
</section>

<div class="loader">
    <img src="{{ asset('client/images/loader.gif') }}" alt="" />
</div>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

<script src="{{ asset('client/js/script.js') }}"></script>

<script>
    var swiper = new Swiper(".home-slider", {
        loop: true,
        grabCursor: true,
        effect: "flip",
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>
<script src="{{ asset('client/js/total_price.js') }}"></script>
</body>

</html>